#wpadminbar {
	opacity: 50% !important;
	transition: 0.3s;
}
#wpadminbar:hover {
	opacity: 100% !important;
	transition: 0.3s;
}
#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
	background: none;
	border: none;
}
