body#tinymce {
	font-size: 1rem;
	line-height: 1.5em;
	font-family: freight-sans-pro, Helvetica, Arial, sans-serif;
	margin: 0 auto;
	color: #343434;
	max-width: 960px;
}
h1, h2, h3, h4, h5, h6 {
	display: block;
	font-family: museo-sans, 'Open Sans', sans-serif;
	margin: 1em 0 .5em;
}
h1 {
	font-size: 2.25rem;
    line-height: 1.15;
	font-weight: 600;
}
h2 {
	font-size: 1.875rem;
	line-height: 1.15;
	font-weight: normal;
}
h3 {
	font-size: 1.625rem;
    line-height: 1.1;
	font-weight: 300;
}
p {
	margin: 1em 0;
}
p:first-of-type {
	margin-top: 0;
}
a {
	outline: none;
	color: #21759b;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
a:hover {
	color: #0f3647;
}
b, strong {
	font-weight: 700;
}
em {
    font-style: italic;
}
.gallery {
    display: grid;
    margin: 0 0 1.75rem 0;
    justify-content: start;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(2, auto);
    grid-gap: .75rem;
}
.gallery figure {
    margin: 0;
}
.gallery-columns-3 .gallery-item {
    width: unset;
}
.gallery-item a img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: filter 0.2s ease-in;
    backface-visibility: hidden;
}